<h3 align="center">
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png" width="100" alt="Logo"/><br/>
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
	Catppuccin Theme
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
</h3>

<h6 align="center">
  <a href="https://github.com/catppuccin/catppuccin#-palette">Palette</a>
  ·
  <a href="https://github.com/catppuccin/catppuccin#-ports-and-more">Ports</a>
  ·
  <a href="https://github.com/catppuccin/catppuccin#-showcase">Showcase</a>
  ·
  <a href="https://github.com/catppuccin/catppuccin/tree/main/docs">Docs</a>
</h6>

<p align="center">
  <img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/palette/macchiato.png" width="400" />
</p>

<p align="center">
	<a href="https://github.com/catppuccin/catppuccin/stargazers">
		<img alt="Stargazers" src="https://img.shields.io/github/stars/catppuccin/catppuccin?style=for-the-badge&logo=starship&color=C9CBFF&logoColor=D9E0EE&labelColor=302D41"></a>
	<a href="https://github.com/catppuccin/catppuccin/releases/latest">
		<img alt="Releases" src="https://img.shields.io/github/release/catppuccin/catppuccin.svg?style=for-the-badge&logo=github&color=F2CDCD&logoColor=D9E0EE&labelColor=302D41"/></a>
	<a href="https://github.com/catppuccin/catppuccin/issues">
		<img alt="Issues" src="https://img.shields.io/github/issues/catppuccin/catppuccin?style=for-the-badge&logo=gitbook&color=B5E8E0&logoColor=D9E0EE&labelColor=302D41"></a>
	<a href="https://discord.com/servers/907385605422448742">
		<img alt="Discord" src="https://img.shields.io/discord/907385605422448742?style=for-the-badge&logo=discord&color=DDB6F2&logoColor=D9E0EE&labelColor=302D41"></a>
  <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum">
    <img src="https://img.shields.io/badge/WCAG_2.1-AA-A6DA95?logo=w3c&logoColor=fff&style=for-the-badge&labelColor=302D41" alt="W3C"></a>
</p>

&nbsp;

<p align="center">
Catppuccin is a community-driven pastel theme that aims to be the middle ground between low and high contrast themes. It consists of 4 soothing warm flavors with 26 eye-candy colors each, perfect for coding, designing, and much more! In addition, this repository tracks the development of the actual color palette, <a href="https://github.com/catppuccin/catppuccin/tree/main/docs"><b>the project's documentation</b></a>, organization-wide assets, resources and code samples for maintainers/developers.
</p>

<p align="center">
  <a href="https://github.com/catppuccin">
    <picture>
      <source srcset="assets/social/macchiato_github.svg" width="64" height="64" alt="Github Logo" media="(prefers-color-scheme: dark)"/>
      <source srcset="assets/social/latte_github.svg" width="64" height="64" alt="Github Logo" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="assets/social/latte_github.svg" width="64" height="64" alt="Github Logo"/>
    </picture>
  </a>
  <img src="assets/misc/transparent.png" height="1" width="5"/>
  <a href="https://www.npmjs.com/org/catppuccin">
    <picture>
      <source srcset="assets/social/macchiato_npm.svg" width="64" height="64" alt="NPM Logo" media="(prefers-color-scheme: dark)"/>
      <source srcset="assets/social/latte_npm.svg" width="64" height="64" alt="NPM Logo" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="assets/social/latte_npm.svg" width="64" height="64" alt="NPM Logo"/>
    </picture>
  </a>
  <img src="assets/misc/transparent.png" height="1" width="5"/>
  <a href="https://discord.com/servers/907385605422448742">
    <picture>
      <source srcset="assets/social/macchiato_discord.svg" width="64" height="64" alt="Discord Logo" media="(prefers-color-scheme: dark)"/>
      <source srcset="assets/social/latte_discord.svg" width="64" height="64" alt="Discord Logo" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="assets/social/latte_discord.svg" width="64" height="64" alt="Discord Logo"/>
    </picture>
  </a>
  <img src="assets/misc/transparent.png" height="1" width="5"/>
  <a href="https://twitter.com/catppuccintheme">
    <picture>
      <source srcset="assets/social/macchiato_twitter.svg" width="64" height="64" alt="Twitter Logo" media="(prefers-color-scheme: dark)"/>
      <source srcset="assets/social/latte_twitter.svg" width="64" height="64" alt="Twitter Logo" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="assets/social/latte_twitter.svg" width="64" height="64" alt="Twitter Logo"/>
    </picture>
  </a>
  <img src="assets/misc/transparent.png" height="1" width="5"/>
  <a href="https://fosstodon.org/@catppuccin">
    <picture>
      <source srcset="assets/social/macchiato_mastodon.svg" width="64" height="64" alt="Mastodon Logo" media="(prefers-color-scheme: dark)"/>
      <source srcset="assets/social/latte_mastodon.svg" width="64" height="64" alt="Mastodon Logo" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="assets/social/latte_mastodon.svg" width="64" height="64" alt="Mastodon Logo"/>
    </picture>
  </a>
  <img src="assets/misc/transparent.png" height="1" width="5"/>
  <a href="https://reddit.com/r/catppuccin">
    <picture>
      <source srcset="assets/social/macchiato_reddit.svg" width="64" height="64" alt="Reddit Logo" media="(prefers-color-scheme: dark)"/>
      <source srcset="assets/social/latte_reddit.svg" width="64" height="64" alt="Reddit Logo" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="assets/social/latte_reddit.svg" width="64" height="64" alt="Reddit Logo"/>
    </picture>
  </a>
</p>

<p align="center">
Join our community!
</p>

&nbsp;

### 🧠 Design Philosophy

- **Colorful is better than colorless**: the colorfulness of something contributes to the distinction amongst the parts
  of that _something_, making it marginally easier to understand how things are structured.
- **There should be balance**: not too dull, not too bright. Suitability under various light conditions is a must.
- **Harmony is superior to dissonance**: vivacious colors must complement each other.

&nbsp;

### 🎨 Palette

**Catppuccin** consists of 4 beautiful pastel color palettes, named **flavors**. All the details can be found below.<br>
If you want to use them for your own project, refer to our [style guide](https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md) for general use cases and guidelines. Additionally, you can find integrations with popular frameworks and tools in [catppuccin/palette](https://github.com/catppuccin/palette).

Already have a project making use of our palette? Don't forget to add it to
our [showcase](#-showcase) section below!
<br><img src="assets/misc/transparent.png" height="10" width="0" />

{% macro emojify(flavor) -%}
{%- if flavor.identifier == "latte" %}🌻{% endif -%}
{%- if flavor.identifier == "frappe" %}🪴{% endif -%}
{%- if flavor.identifier == "macchiato" %}🌺{% endif -%}
{%- if flavor.identifier == "mocha" %}🌿{% endif -%}
{{" "}}{{flavor.name}}
{%- endmacro -%}

{%- macro css_rgb(c) -%}
rgb({{c.rgb[0]}}, {{c.rgb[1]}}, {{c.rgb[2]}})
{%- endmacro -%}

{%- macro css_hsl(c) -%}
{%- set sat = c.hsl[1] * 100 | round -%}
{%- set light = c.hsl[2] * 100 | round -%}
hsl({{c.hsl[0]}}, {{sat}}%, {{light}}%)
{%- endmacro -%}

{% for _, flavor in flavors -%}
<details>
<summary>{{self::emojify(flavor=flavor)}}</summary>
<table>
	<tr>
		<th></th>
		<th>Labels</th>
		<th>Hex</th>
		<th>RGB</th>
		<th>HSL</th>
	</tr>
	{%- for _, color in flavor.colors %}
	<tr>
		<td><img src="assets/palette/circles/{{flavor.identifier}}_{{color.identifier}}.png" width="23"/></td>
		<td>{{color.name}}</td>
		<td><code>#{{color.hex}}</code></td>
		<td><code>{{self::css_rgb(c=color)}}</code></td>
		<td><code>{{self::css_hsl(c=color)}}</code></td>
	</tr>
	{%- endfor -%}
</table>
</details>
{%- endfor %}

&nbsp;

### 👐 Contributing

> [!NOTE]<br>
> if you would like to submit a port or learn how to port Catppuccin to a program, please refer to
> the [port-creation.md](https://github.com/catppuccin/catppuccin/blob/main/docs/port-creation.md)

See [CONTRIBUTING.md](https://github.com/catppuccin/catppuccin/blob/main/CONTRIBUTING.md)

&nbsp;

### 🪵 Ports and more!

Catppuccin is available for various apps and in different formats. Here is a list of them:

<!-- AUTOGEN:PORTLIST START -->
<!-- the following section is auto-generated, do not edit -->
<details open>
<summary>👾 Code Editors & IDEs</summary>

- [Azure Data Studio](https://github.com/catppuccin/vscode)
- [Binary Ninja](https://github.com/catppuccin/binary-ninja)
- [CodeMirror](https://github.com/catppuccin/codemirror)
- [Cutter](https://github.com/catppuccin/cutter)
- [DrRacket](https://github.com/catppuccin/drracket)
- [Emacs](https://github.com/catppuccin/emacs)
- [Geany](https://github.com/catppuccin/geany)
- [Gedit](https://github.com/catppuccin/gedit)
- [Helix](https://github.com/catppuccin/helix)
- [IDA (Interactive Disassembler)](https://github.com/catppuccin/ida-debugger)
- [JetBrains](https://github.com/catppuccin/jetbrains)
- [JetBrains Fleet](https://github.com/catppuccin/fleet)
- [JetBrains Icons](https://github.com/catppuccin/jetbrains-icons)
- [Kakoune](https://github.com/catppuccin/kakoune)
- [KSyntaxHighlighting (Kate, Kwrite, etc)](https://github.com/catppuccin/ksyntaxhighlighting)
- [Lapce](https://github.com/catppuccin/lapce)
- [Micro](https://github.com/catppuccin/micro)
- [Neovim](https://github.com/catppuccin/nvim)
- [Notepad++](https://github.com/catppuccin/notepad-plus-plus)
- [Nova](https://github.com/catppuccin/nova)
- [Qt Creator](https://github.com/catppuccin/qtcreator)
- [Replit](https://github.com/catppuccin/replit)
- [RStudio](https://github.com/catppuccin/rstudio)
- [spyder](https://github.com/catppuccin/spyder)
- [Sublime Text](https://github.com/catppuccin/sublime-text)
- [Vim](https://github.com/catppuccin/vim)
- [Visual Studio](https://github.com/catppuccin/visual-studio)
- [Visual Studio Code](https://github.com/catppuccin/vscode)
- [Visual Studio Code Icons](https://github.com/catppuccin/vscode-icons)
- [Xcode](https://github.com/catppuccin/xcode)
- [Xed](https://github.com/catppuccin/xed)
- [Zed](https://github.com/catppuccin/zed)

</details>
<details open>
<summary>💭 Development Tools</summary>

- [boringproxy](https://github.com/catppuccin/userstyles/tree/main/styles/boringproxy)
- [Codeberg](https://github.com/catppuccin/userstyles/tree/main/styles/codeberg)
- [egui](https://github.com/catppuccin/egui)
- [GitHub](https://github.com/catppuccin/userstyles/tree/main/styles/github)
- [Graphite](https://github.com/catppuccin/userstyles/tree/main/styles/graphite)
- [Hackage](https://github.com/catppuccin/userstyles/tree/main/styles/hackage)
- [Highlight.js](https://github.com/catppuccin/highlightjs)
- [Hoppscotch](https://github.com/catppuccin/userstyles/tree/main/styles/hoppscotch)
- [ImHex](https://github.com/catppuccin/imhex)
- [Insomnia](https://github.com/catppuccin/insomnia)
- [JupyterLab](https://github.com/catppuccin/jupyterlab)
- [Matplotlib](https://github.com/catppuccin/matplotlib)
- [mdBook](https://github.com/catppuccin/mdBook)
- [MDN](https://github.com/catppuccin/userstyles/tree/main/styles/mdn)
- [Next.js](https://github.com/catppuccin/userstyles/tree/main/styles/nextjs)
- [npm](https://github.com/catppuccin/userstyles/tree/main/styles/npm)
- [paste.rs](https://github.com/catppuccin/userstyles/tree/main/styles/paste.rs)
- [ShikiJS](https://github.com/catppuccin/vscode/tree/main/packages/catppuccin-vscode)
- [Tailwind CSS](https://github.com/catppuccin/tailwindcss)
- [Vercel](https://github.com/catppuccin/userstyles/tree/main/styles/vercel)

</details>
<details open>
<summary>📚 Libraries</summary>

- [Flutter](https://github.com/catppuccin/flutter)
- [Go](https://github.com/catppuccin/go)
- [Java](https://github.com/catppuccin/java)
- [LaTeX](https://github.com/catppuccin/latex)
- [Lua](https://github.com/catppuccin/lua)
- [Nim](https://github.com/catppuccin/nim)
- [Pantone](https://github.com/catppuccin/pantone)
- [Python](https://github.com/catppuccin/python)
- [Rust](https://github.com/catppuccin/rust)
- [UI](https://github.com/catppuccin/ui)
- [V](https://github.com/catppuccin/v)

</details>
<details open>
<summary>🐚 CLI Tools</summary>

- [bat](https://github.com/catppuccin/bat)
- [bottom](https://github.com/catppuccin/bottom)
- [Btop++](https://github.com/catppuccin/btop)
- [delta](https://github.com/catppuccin/delta)
- [Fish](https://github.com/catppuccin/fish)
- [fzf](https://github.com/catppuccin/fzf)
- [GitUI](https://github.com/catppuccin/gitui)
- [Glamour](https://github.com/catppuccin/glamour)
- [k9s](https://github.com/catppuccin/k9s)
- [Lazygit](https://github.com/catppuccin/lazygit)
- [Newsboat](https://github.com/catppuccin/newsboat)
- [PowerShell](https://github.com/catppuccin/powershell)
- [sc-im](https://github.com/catppuccin/sc-im)
- [skim](https://github.com/catppuccin/skim)
- [Starship](https://github.com/catppuccin/starship)
- [tmux](https://github.com/catppuccin/tmux)
- [Zellij](https://github.com/catppuccin/zellij)
- [ZSH Fast Syntax Highlighting](https://github.com/catppuccin/zsh-fsh)
- [zsh-syntax-highlighting](https://github.com/catppuccin/zsh-syntax-highlighting)

</details>
<details open>
<summary>🌱 Terminals</summary>

- [Alacritty](https://github.com/catppuccin/alacritty)
- [Black Box](https://github.com/catppuccin/blackbox)
- [Blink](https://github.com/catppuccin/blink)
- [Contour](https://github.com/catppuccin/contour)
- [CRT: cool-retro-term](https://github.com/catppuccin/crt)
- [Fluent Terminal](https://github.com/catppuccin/fluentterminal)
- [foot](https://github.com/catppuccin/foot)
- [GNOME Terminal](https://github.com/catppuccin/gnome-terminal)
- [Hyper](https://github.com/catppuccin/hyper)
- [iTerm2](https://github.com/catppuccin/iterm)
- [Kitty](https://github.com/catppuccin/kitty)
- [Konsole](https://github.com/catppuccin/konsole)
- [LXTerminal](https://github.com/catppuccin/lxterminal)
- [QTerminal](https://github.com/catppuccin/qterminal)
- [Rio](https://github.com/catppuccin/rio)
- [st](https://github.com/catppuccin/st)
- [Tabby](https://github.com/catppuccin/tabby)
- [Terminal.app](https://github.com/catppuccin/Terminal.app)
- [Terminator](https://github.com/catppuccin/terminator)
- [Termux](https://github.com/catppuccin/termux)
- [Tilix](https://github.com/catppuccin/tilix)
- [tty](https://github.com/catppuccin/tty)
- [tym](https://github.com/catppuccin/tym)
- [Urxvt](https://github.com/catppuccin/urxvt)
- [Warp](https://github.com/catppuccin/warp)
- [WezTerm](https://github.com/catppuccin/wezterm)
- [Windows Terminal](https://github.com/catppuccin/windows-terminal)
- [Xfce4 Terminal](https://github.com/catppuccin/xfce4-terminal)
- [Yakuake](https://github.com/catppuccin/yakuake)
- [Zutty](https://github.com/catppuccin/zutty)

</details>
<details open>
<summary>🔧 System</summary>

- [Base16](https://github.com/catppuccin/base16)
- [Conky](https://github.com/catppuccin/conky)
- [Cursors](https://github.com/catppuccin/cursors)
- [fcitx5](https://github.com/catppuccin/fcitx5)
- [FlorisBoard](https://github.com/catppuccin/floris-board)
- [GTK](https://github.com/catppuccin/gtk)
- [Kvantum](https://github.com/catppuccin/Kvantum)
- [Nilesoft Shell](https://github.com/catppuccin/nilesoft-shell)
- [Papirus Folders](https://github.com/catppuccin/papirus-folders)
- [Polybar](https://github.com/catppuccin/polybar)
- [qt5ct](https://github.com/catppuccin/qt5ct)
- [Rboard](https://github.com/catppuccin/rboard)
- [SDDM](https://github.com/catppuccin/sddm)
- [swaylock](https://github.com/catppuccin/swaylock)
- [waybar](https://github.com/catppuccin/waybar)
- [Xresources](https://github.com/catppuccin/xresources)

</details>
<details open>
<summary>👢 Boot Loaders</summary>

- [GRUB](https://github.com/catppuccin/grub)
- [Limine](https://github.com/catppuccin/limine)
- [Plymouth](https://github.com/catppuccin/plymouth)
- [rEFInd](https://github.com/catppuccin/refind)

</details>
<details open>
<summary>😈 Notification Daemons</summary>

- [Dunst](https://github.com/catppuccin/dunst)
- [Mako](https://github.com/catppuccin/mako)
- [SwayNotificationCenter](https://github.com/catppuccin/swaync)

</details>
<details open>
<summary>🖥 Desktop Environments</summary>

- [KDE](https://github.com/catppuccin/kde)
- [LxQT](https://github.com/catppuccin/lxqt)
- [Regolith Desktop](https://github.com/catppuccin/regolith)

</details>
<details open>
<summary>🪟 Window Managers</summary>

- [GlazeWM](https://github.com/catppuccin/glazewm)
- [Hyprland](https://github.com/catppuccin/hyprland)
- [i3/sway](https://github.com/catppuccin/i3)
- [Openbox](https://github.com/catppuccin/openbox)

</details>
<details open>
<summary>🗂️ File Managers</summary>

- [Forklift 4](https://github.com/catppuccin/forklift-4)
- [Midnight Commander](https://github.com/catppuccin/mc)
- [Windows Files](https://github.com/catppuccin/windows-files)
- [Yazi](https://github.com/catppuccin/yazi)

</details>
<details open>
<summary>🗃 Application Launchers</summary>

- [Alfred](https://github.com/catppuccin/alfred)
- [bemenu](https://github.com/catppuccin/bemenu)
- [dmenu](https://github.com/catppuccin/dmenu)
- [Flow Launcher](https://github.com/catppuccin/flow-launcher)
- [Fuzzel](https://github.com/catppuccin/fuzzel)
- [Plank](https://github.com/catppuccin/plank)
- [Raycast](https://github.com/catppuccin/raycast)
- [Rofi](https://github.com/catppuccin/rofi)
- [tofi](https://github.com/catppuccin/tofi)
- [Ueli](https://github.com/catppuccin/ueli)
- [Ulauncher](https://github.com/catppuccin/ulauncher)

</details>
<details open>
<summary>🏄 Browsers</summary>

- [Firefox](https://github.com/catppuccin/firefox)
- [Google Chrome](https://github.com/catppuccin/chrome)
- [Opera GX](https://github.com/catppuccin/opera-gx)
- [qutebrowser](https://github.com/catppuccin/qutebrowser)
- [Vivaldi](https://github.com/catppuccin/vivaldi)

</details>
<details open>
<summary>🧩 Browser Extensions</summary>

- [Dark Reader](https://github.com/catppuccin/dark-reader)
- [Nighttab](https://github.com/catppuccin/nighttab)
- [Noir](https://github.com/catppuccin/noir)
- [OldTwitter](https://github.com/catppuccin/oldtwitter)
- [Sidebery](https://github.com/catppuccin/sidebery)
- [Vimium](https://github.com/catppuccin/vimium)

</details>
<details open>
<summary>🔎 Search Engines</summary>

- [Brave Search](https://github.com/catppuccin/userstyles/tree/main/styles/brave-search)
- [DuckDuckGo](https://github.com/catppuccin/userstyles/tree/main/styles/duckduckgo)
- [Ecosia](https://github.com/catppuccin/userstyles/tree/main/styles/ecosia)
- [Google](https://github.com/catppuccin/userstyles/tree/main/styles/google)
- [NixOS Search](https://github.com/catppuccin/userstyles/tree/main/styles/nixos-search)
- [SearXNG](https://github.com/catppuccin/userstyles/tree/main/styles/searxng)
- [Startpage](https://github.com/catppuccin/userstyles/tree/main/styles/startpage)
- [Whoogle](https://github.com/catppuccin/whoogle)

</details>
<details open>
<summary>🗺️ Translation Tools</summary>

- [Crowdin](https://github.com/catppuccin/userstyles/tree/main/styles/crowdin)
- [DeepL](https://github.com/catppuccin/userstyles/tree/main/styles/deepl)
- [ichi.moe](https://github.com/catppuccin/userstyles/tree/main/styles/ichi.moe)
- [Lingva](https://github.com/catppuccin/userstyles/tree/main/styles/lingva)

</details>
<details open>
<summary>🧠 Wikis</summary>

- [Arch Wiki](https://github.com/catppuccin/userstyles/tree/main/styles/arch-wiki)
- [NixOS Wiki](https://github.com/catppuccin/userstyles/tree/main/styles/nixos.wiki)
- [Wikipedia](https://github.com/catppuccin/userstyles/tree/main/styles/wikipedia)
- [Wikiwand](https://github.com/catppuccin/userstyles/tree/main/styles/wikiwand)

</details>
<details open>
<summary>📸 Photo & Video</summary>

- [Google Photos](https://github.com/catppuccin/userstyles/tree/main/styles/google-photos)
- [Pinterest](https://github.com/catppuccin/userstyles/tree/main/styles/pinterest)
- [ShareX](https://github.com/catppuccin/sharex)

</details>
<details open>
<summary>🎵 Music</summary>

- [C.A.V.A.](https://github.com/catppuccin/cava)
- [Cider](https://github.com/catppuccin/cider)
- [Dopamine](https://github.com/catppuccin/dopamine)
- [Hyperpipe](https://github.com/catppuccin/userstyles/tree/main/styles/hyperpipe)
- [Last.fm](https://github.com/catppuccin/userstyles/tree/main/styles/lastfm)
- [MusicBee](https://github.com/catppuccin/musicbee)
- [PyRadio](https://github.com/catppuccin/pyradio)
- [Spicetify](https://github.com/catppuccin/spicetify)
- [Spotify Web](https://github.com/catppuccin/userstyles/tree/main/styles/spotify-web)
- [spotify-player](https://github.com/catppuccin/spotify-player)
- [spotify-tui](https://github.com/catppuccin/spotify-tui)
- [YouTube Music](https://github.com/catppuccin/youtubemusic)

</details>
<details open>
<summary>📖 Productivity</summary>

- [Aseprite](https://github.com/catppuccin/aseprite)
- [Bento](https://github.com/catppuccin/bento)
- [DioHub](https://github.com/catppuccin/diohub)
- [FreshRSS](https://github.com/catppuccin/freshrss)
- [Gitea](https://github.com/catppuccin/gitea)
- [Home Assistant](https://github.com/catppuccin/home-assistant)
- [homepage](https://github.com/catppuccin/userstyles/tree/main/styles/homepage)
- [Linear](https://github.com/catppuccin/linear)
- [Microsoft Word](https://github.com/catppuccin/userstyles/tree/main/styles/microsoft-word)
- [OBS Studio](https://github.com/catppuccin/obs)
- [OpenMediaVault](https://github.com/catppuccin/userstyles/tree/main/styles/openmediavault)
- [Pomotroid](https://github.com/catppuccin/pomotroid)
- [PowerPoint Slides](https://github.com/catppuccin/powerpoint-slides)
- [Proton](https://github.com/catppuccin/userstyles/tree/main/styles/proton)
- [qBittorrent](https://github.com/catppuccin/qbittorrent)
- [Scrivener](https://github.com/catppuccin/scrivener)
- [SpeedCrunch](https://github.com/catppuccin/speedcrunch)
- [Stylus](https://github.com/catppuccin/userstyles/tree/main/styles/stylus)
- [Syncthing](https://github.com/catppuccin/userstyles/tree/main/styles/syncthing)

</details>
<details open>
<summary>💌 Email Clients</summary>

- [aerc](https://github.com/catppuccin/aerc)
- [Gmail](https://github.com/catppuccin/userstyles/tree/main/styles/gmail)
- [Mailspring](https://github.com/catppuccin/mailspring)
- [Migadu Webmail](https://github.com/catppuccin/userstyles/tree/main/styles/migadu-webmail)
- [NeoMutt](https://github.com/catppuccin/neomutt)
- [Skiff](https://github.com/catppuccin/userstyles/tree/main/styles/skiff)
- [Thunderbird](https://github.com/catppuccin/thunderbird)
- [Tuta](https://github.com/catppuccin/userstyles/tree/main/styles/tuta)

</details>
<details open>
<summary>🕹 Game Development</summary>

- [Godot](https://github.com/catppuccin/godot)
- [Unreal Engine](https://github.com/catppuccin/unreal-engine)

</details>
<details open>
<summary>🖼️ 3D Modelling</summary>

- [Blockbench](https://github.com/catppuccin/blockbench)
- [SolveSpace](https://github.com/catppuccin/solvespace)

</details>
<details open>
<summary>📝 Note Taking</summary>

- [ghostwriter](https://github.com/catppuccin/ghostwriter)
- [Joplin](https://github.com/catppuccin/joplin)
- [Logseq](https://github.com/catppuccin/logseq)
- [Obsidian](https://github.com/catppuccin/obsidian)
- [RemNote](https://github.com/catppuccin/remnote)

</details>
<details open>
<summary>🎓 Education</summary>

- [Anki](https://github.com/catppuccin/anki)
- [Canvas LMS](https://github.com/catppuccin/userstyles/tree/main/styles/canvas-lms)
- [Formative](https://github.com/catppuccin/userstyles/tree/main/styles/formative)
- [Quizlet](https://github.com/catppuccin/userstyles/tree/main/styles/quizlet)

</details>
<details open>
<summary>📃 Document Viewers</summary>

- [Foliate](https://github.com/catppuccin/foliate)
- [Sioyek](https://github.com/catppuccin/sioyek)
- [SumatraPDF](https://github.com/catppuccin/sumatra-pdf)
- [Zathura](https://github.com/catppuccin/zathura)

</details>
<details open>
<summary>✨ Social Networking</summary>

- [Aliucord](https://github.com/catppuccin/aliucord)
- [Bluesky Social](https://github.com/catppuccin/userstyles/tree/main/styles/bsky)
- [Cinny](https://github.com/catppuccin/userstyles/tree/main/styles/cinny)
- [Discord](https://github.com/catppuccin/discord)
- [Element](https://github.com/catppuccin/element)
- [Elk](https://github.com/catppuccin/userstyles/tree/main/styles/elk)
- [Enmity](https://github.com/catppuccin/enmity)
- [Halloy](https://github.com/catppuccin/halloy)
- [HexChat](https://github.com/catppuccin/hexchat)
- [Instagram](https://github.com/catppuccin/userstyles/tree/main/styles/instagram)
- [LinkedIn](https://github.com/catppuccin/userstyles/tree/main/styles/linkedin)
- [Mastodon](https://github.com/catppuccin/userstyles/tree/main/styles/mastodon)
- [Mattermost](https://github.com/catppuccin/mattermost)
- [mIRC](https://github.com/catppuccin/mirc)
- [Misskey](https://github.com/catppuccin/misskey)
- [Nitter](https://github.com/catppuccin/userstyles/tree/main/styles/nitter)
- [Revolt](https://github.com/catppuccin/revolt)
- [SimpleX](https://github.com/catppuccin/simplex)
- [Slack](https://github.com/catppuccin/slack)
- [Snapchat Web](https://github.com/catppuccin/userstyles/tree/main/styles/snapchat-web)
- [Telegram](https://github.com/catppuccin/telegram)
- [The Lounge](https://github.com/catppuccin/thelounge)
- [Twitter](https://github.com/catppuccin/userstyles/tree/main/styles/twitter)
- [Vendetta](https://github.com/catppuccin/vendetta)
- [WhatsApp Web](https://github.com/catppuccin/userstyles/tree/main/styles/whatsapp-web)

</details>
<details open>
<summary>🗣️ Discussion Forums</summary>

- [Hacker News](https://github.com/catppuccin/userstyles/tree/main/styles/hacker-news)
- [Infinity for Reddit](https://github.com/catppuccin/infinity)
- [Lemmy](https://github.com/catppuccin/userstyles/tree/main/styles/lemmy)
- [Libreddit, Redlib](https://github.com/catppuccin/userstyles/tree/main/styles/libreddit)
- [Reddit](https://github.com/catppuccin/userstyles/tree/main/styles/reddit)
- [TabNews](https://github.com/catppuccin/userstyles/tree/main/styles/tabnews)

</details>
<details open>
<summary>🌈 Entertainment</summary>

- [Amfora](https://github.com/catppuccin/amfora)
- [AniList, AniChart](https://github.com/catppuccin/userstyles/tree/main/styles/anilist)
- [ChatReplay](https://github.com/catppuccin/userstyles/tree/main/styles/chatreplay)
- [Holodex](https://github.com/catppuccin/userstyles/tree/main/styles/holodex)
- [Invidious](https://github.com/catppuccin/userstyles/tree/main/styles/invidious)
- [monkeytype](https://github.com/catppuccin/monkeytype)
- [Substack](https://github.com/catppuccin/userstyles/tree/main/styles/substack)
- [theme.park](https://github.com/catppuccin/theme.park)
- [Twitch](https://github.com/catppuccin/userstyles/tree/main/styles/twitch)
- [YouTube](https://github.com/catppuccin/userstyles/tree/main/styles/youtube)

</details>
<details open>
<summary>🎮 Games</summary>

- [Advent Of Code](https://github.com/catppuccin/userstyles/tree/main/styles/advent-of-code)
- [BitBurner](https://github.com/catppuccin/bitburner)
- [bStats](https://github.com/catppuccin/userstyles/tree/main/styles/bstats)
- [Chess.com](https://github.com/catppuccin/userstyles/tree/main/styles/chess.com)
- [Dwarf Fortress](https://github.com/catppuccin/dwarf-fortress)
- [Heroic](https://github.com/catppuccin/heroic)
- [Lichess](https://github.com/catppuccin/userstyles/tree/main/styles/lichess)
- [Minecraft](https://github.com/catppuccin/minecraft)
- [Minesweeper Online](https://github.com/catppuccin/userstyles/tree/main/styles/minesweeper)
- [Modrinth](https://github.com/catppuccin/userstyles/tree/main/styles/modrinth)
- [Moon Animator 2](https://github.com/catppuccin/moon-animator-2)
- [Planet Minecraft](https://github.com/catppuccin/userstyles/tree/main/styles/planet-minecraft)
- [Prism Launcher](https://github.com/catppuccin/prismlauncher)
- [Steam](https://github.com/catppuccin/steam)
- [Steam Deck](https://github.com/catppuccin/steam-deck)
- [ULTRAKILL](https://github.com/catppuccin/ultrakill)

</details>
<details open>
<summary>📊 Analytics</summary>

- [GitHub Readme Stats](https://github.com/catppuccin/github-readme-stats)
- [GitHub Readme Streak Stats](https://github.com/catppuccin/github-readme-streak-stats)
- [GitHub Readme Tech Stack](https://github.com/catppuccin/github-readme-tech-stack)

</details>
<details open>
<summary>🤖 Artificial Intelligence</summary>

- [ChatGPT](https://github.com/catppuccin/userstyles/tree/main/styles/chatgpt)
- [InvokeAI](https://github.com/catppuccin/userstyles/tree/main/styles/invokeai)
- [Perplexity](https://github.com/catppuccin/userstyles/tree/main/styles/perplexity)
- [Stable Diffusion WebUI](https://github.com/catppuccin/stable-diffusion-web-ui)

</details>
<details open>
<summary>🏃 Health & Fitness</summary>

- [Fitbit](https://github.com/catppuccin/fitbit)

</details>
<!-- AUTOGEN:PORTLIST END -->

&nbsp;

### 🌟 Showcase

> [!NOTE]<br>
> Catppuccin staff reserve the right to remove and reject showcase additions if we determine the addition to be in
> violation of our [CODE OF CONDUCT](https://github.com/catppuccin/.github/blob/main/CODE_OF_CONDUCT.md). Extremely
> personal configurations and websites will **not** be added.

If you're making an application or tool using our palette, please let us know by adding it below!

<!-- AUTOGEN:SHOWCASE START -->
<!-- the following section is auto-generated, do not edit -->
- [flotes.app](https://flotes.app/) - A free note-taking app enhanced with flashcard features
- [AnuPpuccin](https://github.com/AnubisNekhet/AnuPpuccin) - Highly customizable theme for [Obsidian](https://obsidian.md)
- [faerber](https://farbenfroh.io/faerber) - Website for applying custom color schemes to any wallpaper
- [Simple MP](https://github.com/lighttigerXIV/SimpleMP-Compose) - A simple music player based on Material You design
- [Comfy](https://github.com/Comfy-Themes/Spicetify) - A theme for [Spicetify](https://github.com/spicetify/spicetify-cli) with a basic catppuccin color scheme!
- [Catppuccin Noctis](https://marketplace.visualstudio.com/items?itemName=AlexDauenhauer.catppuccin-noctis) - An alternative to the official VSCode theme, with [Noctis](https://marketplace.visualstudio.com/items?itemName=liviuschera.noctis) syntax highlighting
- [Mind Elixir](https://github.com/ssshooter/mind-elixir-core) - A framework agnostic JavaScript mind map core.
- [Career Vault](https://careervault.io) - A remote job board that shows hundreds of new opportunities every day.
- [Loungy](https://loungy.app) - An open-source application launcher in the vein of Raycast and Alfred.
<!-- AUTOGEN:SHOWCASE END -->

&nbsp;

### 📜 License

Catppuccin is released under the MIT license, which grants the following permissions:

- Commercial use
- Distribution
- Modification
- Private use

For more convoluted language, see the [LICENSE](https://github.com/catppuccin/catppuccin/blob/main/LICENSE).

&nbsp;

### ❤️ Gratitude

Thanks to the following tools developing this project is possible:

- [coolors.co](https://coolors.co/): A tool for creating and collecting color palettes.
- [InkScape](https://inkscape.org/): Free and open-source vector graphics editor.
- [colors_converter.asp](https://www.w3schools.com/colors/colors_converter.asp): Color format converter.
- [mdigi.tools](https://mdigi.tools/): Web based digital tools.

&nbsp;

<p align="center"><img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/footers/gray0_ctp_on_line.svg?sanitize=true" /></p>
<p align="center">Copyright &copy; 2021-present <a href="https://github.com/catppuccin" target="_blank">Catppuccin Org</a>
<p align="center"><a href="https://github.com/catppuccin/catppuccin/blob/main/LICENSE"><img src="https://img.shields.io/static/v1.svg?style=for-the-badge&label=License&message=MIT&logoColor=d9e0ee&colorA=302d41&colorB=b7bdf8"/></a></p>
